{{#partial "active"}}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/record_animal/new">New Animal</a></li>
        <li role="presentation" class="active"><a href="/record_sighting/new">Record Sighting</a></li>
        <li role="presentation"><a href="/view_sightings">View Sightings</a></li>
    </ul>
{{/partial}}
{{#partial "content"}}
    {{#if animals}}
        {{#each animals}}
            <div class="well">
                Name: {{name}}
                <br>
                Age: {{age}}
                <br>
                Health: {{health}}
                <br>
                Type: {{type}}
                <hr>
            </div>
        {{/each}}
    {{/if}}
{{/partial}}
{{>layout.hbs}}