{{#partial "active"}}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/record_sighting/new">Record Sighting</a></li>
        <li role="presentation"><a href="/view_sightings">View Sightings</a></li>
    </ul>
{{/partial}}
{{>layout.hbs}}