{{#partial "active"}}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <<li role="presentation"><a href="/record_animal/new">New Animal</a></li>
        <li role="presentation"><a href="/record_sighting/new">Record Sighting</a></li>
        <li role="presentation" class="active"><a href="/view_sightings">View Sightings</a></li>
    </ul>
{{/partial}}
{{#partial "content"}}
    {{#if sightings}}
        {{#each sightings}}
            <div class="well">
                Name: {{name}}
                <br>
                Location: {{location}}
                <br>
                Ranger: {{ranger}}
                <hr>
            </div>
        {{/each}}
    {{else}}
        No sightings have been recorded yet...
    {{/if}}
{{/partial}}

{{> layout.hbs}}